<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">

    <ul class="app-menu">
        <li><a class="app-menu__item active" href="/"><i class="app-menu__icon fas fa-home"></i><span class="app-menu__label">Jaburu Home Home</span></a></li>

        <li><a class="app-menu__item" href="/falco_events"><i class="app-menu__icon fas fa-chart-pie"></i><span class="app-menu__label">Falco Events</span></a></li>

        <li><a class="app-menu__item" href="/falco_rules"><i class="app-menu__icon fas fa-skull"></i><span class="app-menu__label">Falco Rules</span></a></li>

    </ul>
</aside>